@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind variants; */

/** 
* in public/fonts their is 4 fonts: 
NotoSans-Black.woff2
NotoSans-Bold.woff2
NotoSans-Regular.woff2
NotoSansHebrew-VariableFont_wght.woff2
*/
/* 
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/NotoSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/NotoSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/NotoSans-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/NotoSansHebrew-VariableFont_wght.woff2') format('woff2');
} */



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  @apply bg-primary text-white;
}