@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::root {
    --color-white: rgb(255 255 255);
  }

  html {
    direction: rtl;
    @apply bg-black font-sans text-white;
  }
}
